*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(bg.webp)no-repeat center center/ cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#contaner{
    width: 350px;
    padding: 20px 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px;

    display: flex;
    margin-bottom: 20px;
}
input{
    flex: 5;
    margin-right:10px ;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
#add-task{
    flex: 1;
    transition: .3s;

    padding: 5px;
    font-size: 1.2rem;

    background-color: #fff;
    color: green;

    border: 2px solid green;
    border-radius: 10px;
    
    cursor: pointer;

}
#add-task:hover{
    background-color: green;
    color: #fff;
}
/* styleing Task in javascript */
.task{
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 12px;
    margin: 12px 0px;
    padding: 5px;
    font-size: 1.2rem;
    list-style: none;
    padding: 12px;
    line-height: 2;
}
#task-contaner{
    width: 350px;
}
.checkTask{
    background-color: green;
    font-size: 1.5rem;
    color:#fff;
    border: 2px solid green;
    border-radius: 3px;
    margin: 0px 5px;
    padding: 10px;
    transition: .3s;
}
.deleteTask{
    background-color:red;
    font-size: 1.5rem;
    color:#fff;
    border: 2px solid red;
    border-radius: 3px;
    margin: 0px 5px;
    padding: 10px;
    transition: .3s;
}
.deleteTask:hover{
    color:red;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}
.checkTask:hover{
    color: green;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
}